.container {
    background-color: #282828;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

.container h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
}